@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    width: 550px;
    height: 560px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    display: block;
}

.swiper-slide img {
    display: block;
    height: 100%;
    width: inherit;
}